@font-face {
  font-family: "iconfont"; /* Project id 3369165 */

  src: url("//at.alicdn.com/t/font_3369165_xtm0eg2ycrh.woff2?t=1651282091437") format("woff2"),
  url("//at.alicdn.com/t/font_3369165_xtm0eg2ycrh.woff?t=1651282091437") format("woff"),
  url("//at.alicdn.com/t/font_3369165_xtm0eg2ycrh.ttf?t=1651282091437") format("truetype");
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: .36rem;
  font-style: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
